# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Cached data
data/cache/

# Log files
*.log

# Test coverage
.coverage
htmlcov/